[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dwave-ocean-sdk = "*"
dotenv-python = "*"
matplotlib = "*"
mine = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.10"
